

/* Your CSS Code here. */
table, td,th{
	border: 1px solid black;
	text-align:center;
	
}
table{
	width:100%;
}
.row{
	padding:80px 0;
}
.row2{
	padding:30px 0;
}
.html{
	background-color: black;
	color: white;
	
}